<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Data Transfer</title>

    <script src="https://cdn.jsdelivr.net/npm/node-forge@1.0.0/dist/forge.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <input type="text" id="data" placeholder="Enter data to encrypt">

    <button id="btn">Send Encrypted Data</button>

    <script src="/script/main-bundled.js"></script>
</body>

</html>